h1 {
    color: blue;
    font-size: 100px;
    font-style: unset;
    font-family: sans-serif;
    font-stretch: extra-condensed;

}

p {
    text-align: center;
    color: teal;
}

h2 {
    color: violet;
}

h3 {
    color: rebeccapurple;
}